<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %L %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

   <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
      <encoder>
         <pattern>%-4relative [%thread] %L %-5level %logger{35} - %msg%n
         </pattern>
      </encoder>
   </appender>

	<appender name="ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- logging to the device sdcard -->
		<file>/sdcard/sample-android.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<pattern>%-4relative [%thread] %L  %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root>
		<level value="TRACE" />
		<appender-ref ref="LOGCAT" />
	</root>
</configuration>
